<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="../libs/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Juego</title>
</head>

<body ng-app="myApp">
    <div class="jumbotron text-center">
        <h1>Jugar Piedra, Papel, Tijera, Lagarto, Spock</h1>
        <p>Las reglas son las siguientes:
            Tijeras corta papel, Papel cubre Roca, Roca aplasta a Lagarto, Lagarto envenena Spock, Spock
            rompe tijeras, Tijeras decapita a Lagarto, Lagarto come papel, Papel refuta a Spock, Spock vaporiza
            Roca, Roca aplasta Tijeras.
        </p>
        <p>Si ambos jugadores utilizan la misma estrategia hay empate.</p>
    </div>

    <div class="container">
        <div ng-app="myApp" ng-controller="ejercicio1Ctrl">
            <form>
                <div class="form-group">
                    Nombre jugador 1: <input ng-model="jugador.nombre[0]">
                </div>
                <div class="form-group">
                    Nombre jugador 2: <input ng-model="jugador.nombre[1]">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary " ng-click="iniciarJuego()">Iniciar juego</button>
                </div>
            </form>
            <div ng-show="mostrarGanador">
                <div class="alert alert-success">
                    <strong>{{mensaje}} </strong>
                </div>
            </div>

            <div ng-show="inicio">
                <td>
                    <tr>
                        <div class="col-sm-6">
                            <h2>Jugador 1: {{jugador.nombre[0]}}</h2>
                            <div class="form-group">
                                <label>Selecciona una opcion:</label>
                                <select class="form-control" ng-model="jugador.opcion[0]">
                                    <option ng-repeat="x in opciones" ng-value="{{x}}">{{x.opNombre}}</option>
                                </select>
                                <h3>La opcion elegida es: {{jugador.opcion[0].opNombre}}</h3>
                                <div>
                                    <img src={{jugador.opcion[0].imagen}} class="img-rounded">
                                </div>
                            </div>
                        </div>
                    </tr>
                </td>
                <td>
                    <tr>
                        <div class="col-sm-6">
                            <h2>Jugador 2: {{jugador.nombre[1]}}</h2>
                            <div class="form-group">
                                <label>Selecciona una opcion:</label>
                                <select class="form-control" ng-model="jugador.opcion[1]">
                                    <option ng-repeat="x in opciones" ng-value="{{x}}">{{x.opNombre}}</option>
                                </select>
                                <div>
                                    <h3>La opcion elegida es: {{jugador.opcion[1].opNombre}}</h3>
                                    <div>
                                        <img src={{jugador.opcion[1].imagen}} class="img-rounded">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </td>

            </div>
            <div>
                <button class="btn btn-success" ng-click="comparar()">Jugar!</button>
            </div>
        </div>
    </div>
    <script src="../controllers/ejercicio1.js"></script>
    
</body>

</html>